.footer {
  text-align: center;
  &--bgcolor {
    background: var(--dark-bg-cl);
  }
  // @media screen and (min-width: 1200px) {
  //   text-align: start;
  // }
}

.footer__meta {
  padding-top: 60px;
  padding-bottom: 60px;
}

// .footer__flex {
//   @media screen and (min-width: 1200px) {
//     display: flex;
//   }
// }
.footer__container {
  margin-bottom: 60px;
}
.footer__logo {
  display: block;

  margin-bottom: 20px;
  color: var(--light-bg-cl);
  text-decoration: none;
}

.footer__icons {
  margin-bottom: 60px;
  // @media screen and (min-width: 1200px) {
  //   margin-left: 70px;
  // }
}
.footer__title {
  margin-bottom: 20px;
}
.footer__form {
  // @media screen and (min-width: 1200px) {
  //   margin-left: 93px;
  // }
}
