.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg-cl);
  max-width: 1200px;
  padding: 118px 0px 118px;
}
.hero-section__box {
  padding: 200px 0px 200px;
}

.hero-section__overlay {
  max-height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/mobile/hero/hero@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/tablet/hero/hero@1x.jpg);
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/desktop/hero/hero@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/tablet/hero/hero@2x.jpg);
    }
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/desktop/hero/hero@2x.jpg);
    }
  }
}

.hero-section__title {
  margin-bottom: 30px;

  color: var(--light-bg-cl);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.box {
  padding: 0px;
  text-align: center;
  max-width: 360px;
  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}
