.hero-header {
  position: relative;

  &--border {
    border-bottom: 1px solid #ececec;
  }
}
.hero-header__nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767.98px) {
    height: 60px;
  }
}
.hero-header__site-nav {
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}
.hero-header__menu-contacts {
  margin-left: auto;
}
