.address {
  font-style: inherit;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 60px;
  }
}
.address__location {
  color: var(--light-bg-cl);
}

.address__contacts {
  color: var(--alt-footer-text-cl);
}

.address__list .address__item:not(:last-child) {
  margin-bottom: 9px;
}
