.form-content__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--title-cl);
}
.form-content__field {
  margin-bottom: 10px;
}
.form-content__policy {
  margin-bottom: 30px;
}
