.logo {
  font-family: var(--logo-text);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;

  &--black {
    color: #000000;
  }
}
.logo__cl {
  color: #2196f3;
}
