.mailing {
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.mailing__e-mail {
  display: flex;
  align-items: flex-end;
  height: 86px;
}
.mailing__signature {
  display: inline-block;
  margin-bottom: 20px;
}
.mailing__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--dark-bg-cl);

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  &:valid:not(:placeholder-shown) {
    color: green;
    border-color: green;
  }
  &:invalid:not(:placeholder-shown) {
    border-color: red;
  }
}
