.mailing {
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.mailing__e-mail {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    text-align: start;
    width: 570px;
  }
}

.mailing__input {
  width: 100%;
  height: 50px;

  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--dark-bg-cl);

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (max-width: 1199.9px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  &:valid:not(:placeholder-shown) {
    color: green;
    border-color: green;
  }
  &:invalid:not(:placeholder-shown) {
    border-color: red;
  }
}
