.social-icons {
  display: inline-flex;
  margin-right: auto;
  margin-left: auto;
}
.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--timing-function);
  transition-timing-function: var(--transition-function);

  &--bgcolor {
    background: rgba(255, 255, 255, 0.1);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-cl);
  }
  &:hover .social-icons__svg,
  &:focus .social-icons__svg {
    fill: var(--light-bg-cl);
  }
}

.social-icons__svg {
  fill: var(--logo-icon-cl);

  transition-property: fill;
  transition-duration: var(--timing-function);
  transition-timing-function: var(--transition-function);

  &--fill {
    fill: var(--light-bg-cl);
  }
}
