:root {
  --main-body-cl: #ffff;
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --dark-bg-cl: #2f303a;
  --address-text-cl: rgba(255, 255, 255, 0.6);
  --alt-footer-text-cl: rgba(255, 255, 255, 0.6);
  --light-bg-cl: #ffff;
  --section-cl: #f5f4fa;
  --logo-icon-cl: #afb1b8;

  --main-font: "Roboto", "sans-serif";
  --logo-text: "Raleway", "sans-serif";

  --timing-function: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
